<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/pages/BB_Effect3.png">
    <title>Comment - BalloonBlooms CiViC</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/bulmaEdit.css">
    <link rel="stylesheet" href="/css/styleCustom.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header is-size-5">
        <nav class="navbar is-info is-fluid py-1">
            <div class="navbar-brand">
                <a href="/" class="navbar-item logo-size ml-5">
                    <img src="/img/pages/BB_Effect1.png" alt="BalloonBlooms-CiViC">
                </a>
                <div class="navbar-burger burger mr-3" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div class="navbar-menu mx-5 has-text-centered" id="navbarMenu">                    
                <div class="navbar-start">
                    <a class="navbar-item m-2 has-text-black" href="/">Home</a>
                    <a class="navbar-item is-active m-2" href="/products">Products</a>
                    <% if (user) { %>
                        <a class="navbar-item m-2 has-text-black" href="/user/custom/BBC2111">Custom</a>
                        <% if (!user.isAdmin) { %>
                            <a class="navbar-item m-2 has-text-black" href="/user/wishlist">Wishlist</a>
                            <a class="navbar-item m-2 has-text-black" href="/user/order/order-list">Order List</a>
                        <% } %>
                    <% } %>
                    <% if (user.isAdmin) { %>
                        <a class="navbar-item m-2 has-text-black" href="/admin/order/order-list">Order List</a>
                        <a class="navbar-item m-2 has-text-black" href="/admin/user-list">User List</a>
                    <% } %>
                    <a class="navbar-item m-2 has-text-black" href="/about">About</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <div class="mx-3 has-text-black" id="userEmail">
                                <%= user.username %>
                            </div>
                            <%- (!user ? '<a href="/login" class="button is-light"><span class="icon is-small is-left mr-1"><i class="fa fa-solid fa-user"></i></span>Login</a>' : '<a href="/logout" id="btnlogout" class="button is-light" onclick="loadLogout()"><span class="icon is-small is-left mr-1"><i class="fa fa-solid fa-right-from-bracket"></i></span>Logout</a>') %>
                            <button id="btnload" class="button is-loading" style="display: none; width: 150px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main id="app" class="container is-max-widescreen has-text-centered my-5">
        <div class="container">
            <h2 class="mt-4 mb-5 has-text-left is-size-5 openSans">
                <a href="/products" class="pl-6 ml-6 has-text-weight-bold has-text-info">
                    <i class="fas fa-chevron-left"></i> Back to Products
                </a>
            </h2>

            <div class="container">
                <div class="m-auto p-2 card card-content ref-card rounded columns column is-6">
                    <div class="ml-2 column">
                        <a href="/user/custom/<%= product.code %>"><img src="/img/products/<%= product.code %>.jpg" alt="Image Error" class="rounded" title="Click to Custom" style="width: 220px; height: 250px; object-fit: cover;"/></a>
                    </div>
                    <div class="column is-8 media-content">
                        <div class="has-text-left">
                            <h5 class="title has-text-weight-bold is-4 ml-2 openSans"><%= product.name %></h5>
                            <table class="subtitle is-5 m-2">
                                <tr>
                                    <td style="min-width: 80px">Price <small>(est)</small></td>
                                    <td class="px-3"> : </td>
                                    <td id="price" class="openSans"><%= product.price %></td>
                                </tr>
                                <tr>
                                    <td>Likes</td>
                                    <td class="px-3"> : </td>
                                    <td class="openSans"><%= product.likes.length %> <i style="color: pink;" class="fa fa-solid fa-heart"></i> </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Include</td>
                                    <td style="vertical-align: top" class="px-3"> : </td>
                                    <td class="subtitle openSans">
                                        <ul>
                                            <% product.include.forEach(desc => { %>
                                                <li style="list-style-type: circle;" class="ml-4"><small><%= desc %> </small></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="columns is-multiline column is-8 is-offset-2">
            <% if (product.name != "Product Not Found") { %>
                <% if (comments.length == 0) { %>
                    <div class="has-text-centered">
                        <p class="is-size-3 mt-4"><b>No Comments Yet!</b></p>
                        <p class="is-size-5 mb-6 has-text-grey">Got a question? Feel free to ask and be the first one to start a discussion. You can also mention <b>@someone</b> to notify them!</p>
                    </div>
                <% } else { %>
                    <div id="comments-area" style="width: 100%; max-height: 300px; overflow-y: scroll;">
                        <% comments.forEach(comment => { %>
                            <article class="media has-text-left">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img class="avatar" src="https://xsgames.co/randomusers/assets/avatars/pixel/<%= comment.user_id %>.jpg" alt="<%= comment.username[0] %> ">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-size-5 username"><%= comment.username %></strong> &emsp; <small class="datetime"><%= comment.createdAt %></small>
                                            <br><span class="has-background-warning rounded px-2 mr-2 new" style="display: none;">New</span>
                                            <span class="comments"><%= comment.comment_text %> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right mt-3">
                                    <% if (user && user.username != comment.username) { %>
                                        <button class="button is-primary mr-1" onclick=<%='handleReply("'+comment.username+'")' %>>Reply</button>
                                    <% } %>
                                    <% if (user.isAdmin || user.username == comment.username) { %>
                                        <button class="button is-vital mr-1" onclick="delComment('<%= user.isAdmin %>', '<%= comment.id %>')">Delete</button>
                                    <% } %>
                                </div>
                            </article>
                        <% }) %>
                    </div>
                <% } %>
                <form action="/user/product/comment/<%= product.code %>" method="post" class="media mt-4" style="width: 100%;">
                    <fieldset class="media-content" <% if (!user) { %> disabled title="You must login to give comment" <% } %>>
                        <div class="field">
                            <p class="control">
                                <textarea name="comment" id="comment" class="textarea is-success" placeholder="Add a comment ..." required></textarea>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <% if (user) { %>
                                    <a href="/products" class="button is-primary">Back</a>                             
                                <% } %>
                            </div>
                            <div class="level-right">
                                <div class="level-item" id="sends">
                                    <button class="button is-success" id="send">Send comment</button>
                                </div>
                            </div>
                        </nav>
                    </fieldset>
                </form>
            <% } %>
        </div>
    </main>

    <footer class="footer has-background-success has-text-centered has-text-black is-size-5">
        <div class="columns">
            <div class="column mx-5">
                <p class="is-size-5 is-vcentered">
                    <img src="/img/pages/BB_Effect1.png" alt="" width="80px" height="85px">
                </p>
                <b class="mt-5">BALLOON BLOOMS</b>
                <p>3e Tembaga St., Medan City, North Sumatra, Indonesia</p>
                <a href="tel: 087776462111" class="text-decoration-none text-pink is-size-4 has-text-weight-bold">Call : +62 877-7646-2111</a><br/>
            </div>
            <div class="column mx-5">
                <p class="has-text-weight-bold mt-4 mb-2">Quick Links</p>
                <ul>
                    <li>
                        <a class="text-decoration-none m-2" href="/">Home</a>
                    </li>
                    <li>
                        <a class="text-decoration-none m-2" href="/products">Products</a>
                    </li>
                    <li>
                        <% if (user) { %>
                            <a class="text-decoration-none m-2" href="/user/custom/BBC2111">Custom</a>
                        <% } %>
                    </li>
                    <li>
                        <a class="text-decoration-none m-2" href="/about">About</a>
                    </li>
                </ul>
            </div>
            <div class="column mx-5">
                <p class="has-text-left has-text-weight-bold mt-4 ml-6 pl-5">Subscribe Us</p>
                <ul>
                    <li class="mt-2">
                        <a href="https://www.instagram.com/balloonblooms_medan/" class="text-decoration-none columns is-vcentered my-3">
                            <img src="/img/pages/ig-image.png" alt="ig" width='40px' class="filter-ic">&ensp;balloonblooms_medan
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="mailto: info@balloonblooms.com" class="text-decoration-none columns is-vcentered my-3">
                            <img src="/img/pages/email-image.png" alt="em" width='40px' class="filter-ic">&ensp;info@balloonblooms.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
        // show datetime drop comment
        let datetime = document.getElementsByClassName("datetime")
        let now = new Date(Date.now())
        for (let i = 0; i < datetime.length; i++) {
            let date = new Date(datetime[i].innerText)
            datetime[i].innerHTML = date.toLocaleString()
            let selisih = (now.getTime()-date.getTime())/(1000 * 3600)  // jam
            console.log(date);
            console.log(selisih)
            let comment = document.getElementsByClassName("comment")[i]
            if (selisih < 1) {
                document.getElementsByClassName('new')[i].style.display = 'inline'
                if ((selisih*3600).toFixed() <= 60) {
                    datetime[i].innerHTML = (selisih*3600).toFixed() + ' seconds ago'                    
                }
            }
        }

        // bold username tag
        let comments = document.getElementsByClassName('comments')
        for (let i = 0; i < comments.length; i++) {
            let comment = comments[i].innerText.split(' ')
            let j = 0
            comment.forEach(text => {
                if (text[0] == '@') {
                    comment[j] = '<b class="has-text-info">'+text+'</b>'
                }
                j+=1
            });
            comments[i].innerHTML = comment.join(' ')
        }
        
        // // generate random avatar for user profpic
        // let avatar = document.getElementsByClassName('avatar')
        // let username = document.getElementsByClassName('username')
        // let listUser = {'nama':[], 'angka':[]}  // user draft
        // for (let i = 0; i < avatar.length; i++) {
        //     let angka = Math.floor(Math.random()*54)
        //     if (listUser.nama.includes(username[i].innerHTML)) {
        //         // generate the same avatar for the same user so it won't be confusing
        //         angka = listUser.angka[listUser.nama.findIndex(user => user == username[i].innerHTML)]
        //     }
        //     else {
        //         listUser.nama.push(username[i].innerHTML)
        //         listUser.angka.push(angka)
        //     }
        //     avatar[i].src = 'https://xsgames.co/randomusers/assets/avatars/pixel/'+angka+'.jpg'
        // }

        // handle reply comment
        let handleReply = (username) => {
            let commentbox = document.getElementById('comment')
            let commentval = document.getElementById('comment').value
            let commentall = document.getElementById('comment').value.split(' ')
            console.log(!commentall.includes('@'+username));
            if (!commentall.includes('@'+username)) {
                document.getElementById('comment').value = "@" + username + " " + commentval
            }
            commentbox.focus()
        }

        // handle delete comment
        function delComment(isAdmin, id) {
            if (isAdmin == 'true') status = 'admin'
            else status = 'user'
            axios.delete('/' + status + '/product/comment/' + id).then((result) => {
                alert("Your comment deleted successfully")
                location.reload()
            }).catch((err) => {
                alert('error ' + err)
            });
        }
        
        // handle scroll down
        document.getElementById('comments-area').scrollTop = document.getElementById('comments-area').scrollHeight
    </script>
</body>
</html>